body {
    background: #e5e5e5;
}

body > .dropdown {
    background: #db0f0f;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
}